@{
    ViewBag.Title = "User Guide";
}
<h2>@ViewBag.Title.</h2>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Submitting a bug</h3>

    </div>
    <div class="panel-body">
        To submit a bug, either go to the home page and click 'submit a bug' or go to the bugs page and click 'Create bug'.
        <br />
        When entering a bug, if you are stuck - refer to the diagram below:
        <br />
        <img src="@Url.Content("~/images/BugHelp.jpg")" width="600" height="400" alt="AP Group Image" />
        
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Creating a new user</h3>

    </div>
    <div class="panel-body">
        To create a new user, either go to the home page and click 'New Primary Resource' or go to the Users page and click 'Create new user'.
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Got an issue?</h3>

    </div>
    <div class="panel-body">
        Go to the contact page and contact Accesspoint with the option that best suits you.
    </div>
</div>
