@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Tracker</h1>
    <p class="lead">This is a central storage place for submitting any bugs you come across while using software developed by Accesspoint.
    This page is reviewed frequently and we will try to resolve the issue as quick as possible.
    Thank you.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Report a bug</h2>
        <p>
            Click on the link below to submit a bug
        </p>
        @* Redirects to create a bug *@
        <p><a class="btn btn-default" href="../BugLogs/create">Bugs Page</a></p>
    </div>
    <div class="col-md-6">
        <h2>New Primary Resource</h2>
        <p>Click on the link below to create a new primary resource</p>
        @* Redirect to Google *@
        <p><a class="btn btn-default" href="../Principals/create">New Primary Resource</a></p>
    </div>
    <div class="col-md-6">
        <h2>Contact Us</h2>
        <p>Click on the button below to be redirected to our contact page</p>
        @* Redirect to Accesspoint Contact Page *@
        <p><a class="btn btn-default" href="https://www.theaccesspoint.co.uk/contact-accesspoint/">Contact Us</a></p>
    </div>
    <div class="col-md-6">
        <h2>User Guide</h2>
        <p>Click on the button below to be redirected to our User Manual</p>
        @* Redirect to Accesspoint Contact Page *@
        <p><a class="btn btn-default" href="../Home/About">Contact Us</a></p>
    </div>
</div>